.about {
  background-color: var(--main-bg-color);
  padding-top: 125px;
  padding-bottom: 39px;
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-top: 130px;
    padding-bottom: 66px;
  }
}
.about_card {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about__pre-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: var(--time-color);
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.about__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    font-size: 48px;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    margin-bottom: 55px;
  }
}

.about__image-cow {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

.about__text {
  display: block;
}

.about__text-one {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--main-text-color);
  margin: 0 50px 40px 50px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }
  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.about__text-two {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--third-text-color);
  margin: 0 50px 25px 50px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }
  @media screen and (min-width: 1200px) {
    line-height: 1.93;
  }
}
.about-btn {
  display: block;
  position: relative;
  width: 178px;
  height: 44px;
  justify-content: center;
  border-radius: 22px;
  background-color: var(--third-bg-color);
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: var(--accent-color);
  margin-left: 50px;
}
.about-btn__icon {
  position: absolute;
  align-items: center;
  top: 19px;
  right: 38px;
  fill: var(--accent-color);
  // border: 2px solid var(--accent-color);
}

.modal3__title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.58;
  color: var(--main-text-color);
  text-align: center;
}
.modal3__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--third-text-color);
}
.modal3{
display: none;
}
