.advantages{
    background-color: var(--main-bg-color);
    padding-bottom: 97px;
}

.advantages__bold-text{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 1.13%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color:var( --btn-header-secondary-bg-color);

    margin-top: 60px;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 35px;

    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
        margin-bottom: 44px;
    }
}

.advantages__text{
    font-family:'DM Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 170%;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 16px;
    }
}

.advantages__li+.advantages__li{
    @media screen and (max-width: 768px) {
        margin-top:38px ;
    }
}

.advantages__li{

    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        margin-right: 73px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 90px;
    }
}

.advantages__list{
    @media screen and (min-width: 768px) {
        display: flex;
    }
  
} 