.backdrop {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--backdrop-background);
    z-index: 999;
    transition: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
    cursor: pointer;
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
    overflow-y: scroll; 
   
  }
  