.try__6{
 
    background: linear-gradient(to bottom, var(--main-bg-color) 24%,  var(--secondary--title-color) 0%);
    align-items: center;
    padding-bottom: 80px;
}
.container-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
   /* padding-right: 75px;
    padding-left: 75px;*/
}
.gallery-main-img {
    display: block;
    max-width: 100%;
}   

/***masonry-styles *****************************/////////////////////////////

.gallery-group {    
    column-gap: 16px;
    margin: 8px 10px; 
    @media only screen and (max-width: 479px) {
        column-count: 2;
    }
    @media only screen and (min-width: 768px) and (max-width: 767px) {
        column-count: 4;
    }
    @media only screen and (min-width: 768px) and (max-width: 1199px) {
        column-count: 5;
    }
    @media only screen and (min-width: 1200px) {
        column-count: 6;
    }
}
.gallery-group__item {
    opacity: 1;
    overflow: hidden;
   background-color: var(--border-button1);
   margin: 8px 0;
   padding: 5px;
    display: inline-block;
    transition-property: opacity, box-shadow, scale;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function);
&:hover,
&:focus {
    opacity: 0.8;
    box-shadow: var(--box-shadow);
    scale: 1.2;
}
}


