.menu-container__wrap {
  position: relative;
}

.menu-container {
  background-color: #e17992;
  position: absolute;
  width: 100vw;
  width: -webkit-fill-available;
  height: 100vh;

  @media screen and(min-width: 768px) {
    width: 30%;
    top: 0;
    left: 70%;
  }
}

.menu-container__menu-button {
  font-weight: bold;
  font-size: 16px;
  line-height: calc(21 / 16);
  display: inline-block;
  text-align: center;
  background-color: #ffffff;
  padding: 11.5px 69.67px 11.5px 48.64px;
  margin: 0;

  color: #d41443;
  position: relative;
  border-radius: 22px;
  border: none;

  top: 60px;
  left: 21px;
}

.menu-container__menu-button-icon {
  position: absolute;
  top: 19px;
  right: 48.64px;
}

.menu-close {
  position: absolute;
  right: 28px;
  top: 23.26px;
  background-color: transparent;
  border: 1px solid red; //временно чтобы было видно позиционирование, будет none
}

.menu-button__icon-cross {
  fill: #ffffff;
}

.mobile-menu__link {
  font-family: DM Sans;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  align-items: center;

  color: #ffffff;
  &:hover,
  &:focus,
  &.current {
    color: #d41443;
  }
}

.mobile-menu__list {
  margin-top: 99px;
  padding-bottom: 185px;
  border-top: 1px solid #e18298;
}

.mobile-menu__item {
  border-bottom: 1px solid #e18298;
}

.mobile-menu__link {
  padding-left: 21px;
}
