.form-modak_content{
    display: flex;
    // justify-content:space-between;
}

.momble-mod{
    width: 50%;
}

.momble-mod+ .momble-mod{
    margin-left:8px;
}

.call-back{
    margin-bottom: 12px;
    margin-right: 5%;
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.13;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-title-color);
    }

.form-modak{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal-button{
    position: absolute;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--mobile-menu-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.input-style{
    width: 100%;
    outline: none;
    height: 40px;
    padding: 12px 16px 12px 15px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-style:hover~svg,
.input-style:focus~svg{
    fill: var(--accent-color);
    transition: fill 250ms var(--timing-function);
}
        
.input-style:hover, 
.input-style:focus{
    border-color: var(--accent-color);
    transition: var(--time-animation);
}
    
.modal-lable{
    position: relative;
    display: block;
    font-family:'DM Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: #212121;
    }
    
.form-coments{
    outline: none;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    margin-top: 4px;

    &:hover,
    &:focus{
    border-color: var(--accent-color)   ;
    }
}

.check-label{
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    color: var(--secondary-text-color);
    display: inline-block;

    @media screen and (min-width: 450px) {
        margin-left: 0px;
    }

    @media screen and (min-width: 1199px) {
        display: flex;
    }

}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(1.1);
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
    overflow-y: scroll;

    @media screen and (max-width: 479px) {
        padding: 40px 20px 40px 20px;
    }
  }  
  .hero-button{
    // background-color: var(--accent-color);
    color: var(--mail-title-color);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;

        &:hover,
        &:focus { 
            background-color: #188ce8;
        }
    }

    .form-modak .footer-btn {
        box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        justify-content: center;
        display: block;
        border: 0;

        &:hover,
        &:focus { 
            background-color: var(--main-title-color);
            color: #ffffff;
        }
    }