.call-back{
    margin-bottom: 12px;
    margin-right: 5%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-text-color);
    }

.form-modak{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px)   {
        width: 530px;
        min-height: 580px;
        padding: 40px;
    }
}

.input-style{
    width: 100%;
    outline: none;
    height: 40px;
    padding: 12px 16px 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 4px;

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-style:hover~svg,
.input-style:focus~svg{
    fill: var(--accent-color);
    transition: fill 250ms var(--timing-function);
}
        
.input-style:hover, 
.input-style:focus{
    border-color: var(--accent-color);
    transition: var(--time-animation);
}
    
.modal-lable{
    position: relative;
    display: block;
    font-family:'Roboto';
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--secondary-text-color);
    }
    
.agreement{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    margin-left: auto;
    margin-right: auto;
    position: relative;

    a{ 
        text-decoration: underline;
        color: var(--accent-color);
        justify-content: center;
        margin-left: 3px;

        // @media screen and (min-width: 767px) {
        //    display: flex;
        // }
    
        
    }
}
    
.form-coments{
    outline: none;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    resize: none;
    margin-top: 4px;

    &:hover,
    &:focus{
    border-color: var(--accent-color)   ;
    }
}

.check-label{
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    color: var(--secondary-text-color);
    display: inline-block;

    @media screen and (min-width: 450px) {
        margin-left: 0px;
    }

    @media screen and (min-width: 1199px) {
        display: flex;
    }

}

.checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleX(1.1);
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.2);
  
    opacity: 1;
    transition: opacity 250ms var(--timing-function);
    overflow-y: scroll;

    @media screen and (max-width: 479px) {
        padding: 40px 20px 40px 20px;
    }
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 528px;
    min-height: 581px;
  
    background: #ffffff;
    box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transform: translate(-50%, -50%) scaleX(1);
    transition: transform 250ms var(--timing-function);

    @media screen and (min-width: 320px) and (max-width: 767px) {
        max-width: 450px;
        min-height: 609px;
    }

    @media screen and (max-width: 479px) {
        width: 94%;
        min-height: 609px;
        padding: 20px;
    }

    @media screen and (min-width: 480px) and (max-width:1199px){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    min-height: 609px;
    padding: 40px;
}
  }
  
  .hero-button{
    background-color: var(--accent-color);
    color: var(--mail-title-color);
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    letter-spacing: 0.06em;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
    cursor: pointer;
    border: 0px;

        &:hover,
        &:focus { 
            background-color: #188ce8;
        }
    }