:root {

    --main-title-color:#D41443;
    --pre-title-color: #FFA5BA;
    --secondary--title-color: #FFFFFF;

    --main-text-color:  #000000;
    --secondary-text-color: #FFFFFF;
    --third-text-color: #907E82;

    --accent-color:#D41443;

    --time-color: #FFA5BA;
    
    --main-bg-color: #FFF5F6;
    --secondary-bg-color: #FFB8CA;
    --third-bg-color: #FFFFFF;
    --mobile-menu-bg-color: #E17992;
    --customer-bg-color: #FAFAFA;

    --coffee-bg-color:  #F0D1A5;
    --green-bg-color: #C2E297;

    --icons-bg-color: #FEA5BB;
    --icons-bg-hover-color: #ECEBEB;
     
    --btn-bg-color: #FFFFFF;
    --btn-secondary-bg-color: #D41342;
    --btn-hover-bg-color: #ECEBEB;
    --btn-header-secondary-bg-color: #D41443;

    --svg-main-fill: #FFFFFF;
    --svg-secondary-fill: #D41443;
    --svg-third-fill: #D31342;

    --svg-bg-color: #FEA5BB;
    --svg-hover-bg-color: #D41443;
    --border-footer: #E1E1E1;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }