<section class="advantages">
    <h2 class="visually-hidden">advantages</h2>
    <div class="conteiner">
        <ul class="advantages__list">
            <li class="advantages__li">
                <img url="./images/advantages/apples.png" alt="" class="advantages__icon" width="33px" height="50px"/>    
                <p class="advantages__bold-text">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__li">
                <img url="images/advantages/cup.png" alt="" class="advantages__icon" width="50px" height="50px"/>     
                <p class="advantages__bold-text">16kg</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__li">
                <img url="/images/advantages/heart.png" alt="" class="advantages__icon " width="44px" height="50px"/>
                <p class="advantages__bold-text">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>