<section class="try__6">
<div class="container-gallery container ">
       <!-- <picture>-->
            <!-- <source  srcset="images/mobile/Display-/mobi-gallery--mini.jpg 1x, images/mobile/Display-/mobi-gallery-x2-mini.jpg 2x" media="(max-width: 767px)"> -->
            <!-- <source  srcset=" 1x, -mini.jpg 2x" media="(max-width: 1199px)">
            <source  srcset="-mini.jpg 1x, -mini.jpg 2x" media="(min-width: 1200px)"> -->
           <!-- <img src="" width="364" height="122" alt="галерея" class="gallery-main-img">
        </picture> -->
       

        <div class="gallery-group">

            <div class="gallery-group__item">
                <picture>
                    <!--<source  srcset="" media="(max-width: 767px)">--> 
                    <source  srcset="./images/gallery/gallery-tab-650-(8).jpg 1х"  media="(max-width: 1199px)">
                   <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                    <img src="./images/gallery/gallery-tab-650-(8).jpg" width="650" alt="галерея" class="gallery-main-img1">
                </picture>
            </div>
            
            <div class="gallery-group__item">
                <picture>
                    <!--<source  srcset="" media="(max-width: 767px)">--> 
                    <source  srcset="./images/gallery/gallery-tab-771-(10).jpg 1х"  media="(max-width: 1199px)">
                   <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                    <img src="./images/gallery/gallery-tab-771-(10).jpg" width="771" alt="галерея" class="gallery-main-img1">
                </picture>
            </div>
            
            <div class="gallery-group__item">
                <picture>
                    <!--<source  srcset="" media="(max-width: 767px)">--> 
                    <source  srcset="./images/gallery/gallery-1280(2)-min.jpg 1х" media="(max-width: 1199px)">
                   <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                    <img src="./images/gallery/gallery-1280(2)-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
                </picture>
            </div> 

          <div class="gallery-group__item">
            <picture>
                <!--<source  srcset="" media="(max-width: 767px)">--> 
                <source  srcset="./images/gallery/gallery-1280(3)-min.jpg 1х"  media="(max-width: 1199px)">
               <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                <img src="./images/gallery/gallery-1280(3)-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
            </picture>
          </div>
  
          <div class="gallery-group__item">
            <picture>
                <!--<source  srcset="" media="(max-width: 767px)">--> 
                <source  srcset="./images/gallery/gallery-700-min.jpeg 1х"  media="(max-width: 1199px)">
               <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                <img src="./images/gallery/gallery-700-min.jpeg" width="700" alt="галерея" class="gallery-main-img1">
            </picture>
          </div>

          <div class="gallery-group__item">
            <picture>
                <!--<source  srcset="" media="(max-width: 767px)">--> 
                <source  srcset="./images/gallery/gallery-1280(7)-min.jpg 1х"  media="(max-width: 1199px)">
               <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                <img src="./images/gallery/gallery-1280(7)-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
            </picture>
        </div>
          
        <div class="gallery-group__item">
            <picture>
                <!--<source  srcset="" media="(max-width: 767px)">--> 
                <source  srcset="./images/gallery/gallery-1280(4)-min.jpg 1х"  media="(max-width: 1199px)">
               <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                <img src="./images/gallery/gallery-1280(4)-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
            </picture>
        </div>
            
        <div class="gallery-group__item">
            <picture>
                <!--<source  srcset="" media="(max-width: 767px)">--> 
                <source  srcset="./images/gallery/gallery-2-569-min.jpg 1х"  media="(max-width: 1199px)">
               <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                <img src="./images/gallery/gallery-2-569-min.jpg" width="559" alt="галерея" class="gallery-main-img1">
            </picture>
        </div>
        
          <div class="gallery-group__item">
              <picture>
                  <!--<source  srcset="" media="(max-width: 767px)">--> 
                  <source  srcset="./images/gallery/gallery-1280-1-min.jpg 1х"  media="(max-width: 1199px)">
                 <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                  <img src="./images/gallery/gallery-1280-1-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
              </picture>
           </div>

             <div class="gallery-group__item">
                  <picture>
                      <!--<source  srcset="" media="(max-width: 767px)">--> 
                      <source  srcset="./images/gallery/gallery-1280(6)-min.jpg 1х" media="(max-width: 1199px)">
                     <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                      <img src="./images/gallery/gallery-1280(6)-min.jpg" width="1280" alt="галерея" class="gallery-main-img1">
                  </picture>
              </div>    
            
             <div class="gallery-group__item">
                 <picture>
                     <!--<source  srcset="" media="(max-width: 767px)">--> 
                     <source  srcset="./images/gallery/gallery-tab-800-(5).jpg 1х"  media="(max-width: 1199px)">
                    <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                     <img src="./images/gallery/gallery-tab-800-(5).jpg" width="800" alt="галерея" class="gallery-main-img1">
                 </picture>
             </div>
   
             <div class="gallery-group__item">
                 <picture>
                     <!--<source  srcset="" media="(max-width: 767px)">--> 
                     <source  srcset="./images/gallery/gallery-tab-860-(12).jpg 1х"  media="(max-width: 1199px)">
                    <!-- <source  srcset="" media="(min-width: 1200px)"> --> 
                     <img src="./images/gallery/gallery-tab-860-(12).jpg" width="860" alt="галерея" class="gallery-main-img1">
                 </picture>
             </div>    
    </div>
</div>
</section>