<div class="main-backdrop is-hidden " data-mainmodal>
    <div class="main-modal">
        <button type="button" class="main-modal__button_close" width="30" height="30" data-mainmodal-close><svg
                class="button-close__icon modal-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close-black-18dp-2-1-1"></use>
            </svg>
        </button>
        <p class="main-modal__title ">Leave your details,<span class="modal-title__text"> we will call you back</span></p>
        
        <form class="main-modal__modal-form">
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon modal-icon" width="18" height="18">
                        <use href="./images/sprite.svg#icon-person-black-18dp-1"></use>
                    </svg><span class="form-label-name">Name</span>
                    <span class="modal-form__container-input"><input type="text" name="username" class="modal-form__input"
                            autofocus  minlength="3" placeholder=" "></span>
                </div>
            </Label>  
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon modal-icon" width="18" height="18">
                        <use href="./images/sprite.svg#icon-mobile"></use>
                    </svg> </svg><span class="form-label-name">Phone</span>
                    <span class="modal-form__container-input"><input type="tel" name="phone_number"
                            class="modal-form__input" minlength="3" placeholder=" "></span>
                </div>
            </Label>
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon modal-icon" width="18" height="18">
                        <use href="./images/sprite.svg#icon-email-black-18dp-1"></use>
                    </svg> </svg><span class="form-label-name">Email</span>
                    <span class="modal-form__container-input"><input type="email" mame="email"
                            class="modal-form__input"  minlength="3" placeholder=" "></span>
                </div>
            </Label>
            <label class="modal-form__textarea modal-form__label">Coments
                <textarea name="feedback" rows="5"  placeholder="Enter text"
                    class="modal-form__input form-textarea-input"></textarea>
            </label>
            <label class="modal-form__label-check">
                <span class="label-checkbox-container">
                    <input type="checkbox"
                        class="modal-form__checkbox-hidden visually-hidden">
                    <span class="modal-form__checkbox-icon modal-icon">
                    </span>
                    <div class="box-text">   
                        I agree to the newsletter and accept  
                        <a href="" class="modal-form__link link">
                            Terms of an agreement
                        </a>
                    </div>
                </span> 
            </label>
            <button type="submit" class="modal__button-submit main-button">Submit</button>
     </form>

    </div>
</div> 