<div class="backdrop is-hidden" data-data-main-modal>
    <div class="main-modal">
        <button type="button" class="main-modal__button_close" width="30" height="30" data-main-modal-close><svg
                class="button-close__icon form-icon" width="18" height="18">
                <use href="../images/sprite.svg #icon-close-modal"></use>
            </svg>
        </button>
        <p class="modal__title">Оставьте свои данные, мы вам перезвоним</p>
        
        <form class="main-modal__modal-form">
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon form-icon" width="18" height="18">
                        <use href="../images/sprite.svg#icon-person-modal"></use>
                    </svg><span class="form-label__label-name">имя</span>
                    <span class="modal-form__container-input"><input type="text" name="username" class="modal-form__input"
                            autofocus  minlength="3" placeholder=" "></span>
                </div>
            </Label>  
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon form-icon" width="18" height="18">
                        <use href="../images/sprite-main-modal.svg #icon-phone-modal"></use>
                    </svg> </svg><span class="form-label__label-name">Телефон</span>
                    <span class="modal-form__container-input"><input type="tel" name="phone_number"
                            class="modal-form__input" minlength="3" placeholder=" "></span>
                </div>
            </Label>
            <Label class="modal-form__label">
                <div class="form-label__container"><svg class="modal-form__icon form-icon" width="18" height="18">
                        <use href="../images/sprite-main-modal.svg #icon-email-modal"></use>
                    </svg> </svg><span class="form-label__label-name">Почта</span>
                    <span class="modal-form__container-input"><input type="email" mame="email"
                            class="modal-form__input"  minlength="3" placeholder=" "></span>
                </div>
            </Label>
            <label class="modal-form__textarea modal-form__label">Комментарий
                <textarea name="feedback" rows="5"  placeholder="Введите текст"
                    class="modal-form__input form-textarea-input"></textarea>
            </label>
            <label class="modal-form__label-check">
                <div class="label-checkbox-container">
                    <input type="checkbox"
                        class="modal-form__checkbox-hidden visually-hidden">
                    <span class="modal-form__checkbox-icon form-icon">
                    </span>
                    <span class="checkbox-container-text">
                        Соглашаюсь с рассылкой и принимаю
                    </span>
                        <a href="" class="modal-form__link link">Условия договора
                    </a>
                </div> 
            </label>
            <button type="submit" class="modal__button-submit main-button">Отправить</button>
     </form>

    </div>
</div> 