<div class="is-hidden modal " data-footermodal>
    <div class=" modal__view">
        <button class="modal__close" data-footermodal-close>
            <svg class="close-button" width="30" height="30">
                <use href="./images/sprite.svg#icon-close-black-18dp-2-1-1"></use>
            </svg>
        </button>
       
<form class="form-modak">
    <p class="call-back">Become our partner</p>
    <div class="form-modak_content">
        <label class="modal-lable momble-mod">Name
            <input class="modal-form__input" type="text" name="name" placeholder="Name*" required minlength="4">  
        </label>
        <label  class="modal-lable momble-mod">Surname
            <input class="modal-form__input" type="text" name="Surname" placeholder="Surname*" required minlength="4">    
        </label>
    </div>
    <label  class="modal-lable">Tel
        <input class="modal-form__input" type="text" name="tel" placeholder="Tel*" required minlength="4" pattern="^(\s*)?(\+)?([- _():=+]?\d[- _():=+]?){10,14}(\s*)?$">
    </label>
    <label  class="modal-lable">Email
        <input class="modal-form__input" type="text" name="email" placeholder="Email" required minlength="4">
    </label>

    <label for="coments" class="modal-lable" required minlength="4">Coments 
        <textarea id="coments" class="form-coments" name="coments" placeholder="Enter text"></textarea></label>
         <button class="franchise-btn footer-btn" type="button">Send latter</button>
</form>
    </div>
</div>