
<div class="is-hidden modal " data-footermodal>
    <div class=" modal__view">
        <button class="modal-button" data-footermodal-close>
            <svg class="close-button" width="30" height="30">
                <use href="./images/sprite.svg#icon-close-black-18dp-2-1-1"></use>
            </svg>
        </button>

<form class="form-modak">
    <p class="call-back">Become our partner</p>
    <label class="modal-lable">Name
        <input class="input-style" type="text" name="name">
            <!-- <svg class="form-icon" width="18" height="18">
                <use href="./images/symbol-botton.svg#icon-close-black-18dp-2-1-1" ></use>
            </svg> -->
    </label>
    <label  class="modal-lable">Tel
        <input class="input-style" type="text" name="tel">
            <!-- <svg class="form-icon" width="18" height="18">
                <use href="./images/symbol-botton.svg#icon-email-black-18dp-1" ></use>
            </svg> -->
    </label>
    <label  class="modal-lable">Email
        <input class="input-style" type="text" name="email">
            <!-- <svg class="form-icon" width="18" height="18">
                <use href="./images/symbol-botton.svg#icon-email" ></use>
            </svg> -->
    </label>

    <label for="coments" class="modal-lable">Coments 
        <textarea id="coments" class="form-coments" name="coments" placeholder="Enter text"></textarea></label>

         <button class="franchise-btn footer-btn" type="button">Send latter</button>
</form>
    </div>
</div>