<section class="products">
    <p class="products__text">100% natural</p>
    <h2 class="products__heading">products</h2>
    <ul class="products-list">
        <li class="products-list__products-item products-list__products-item--color">
         
            <picture>
                
                <img src="./images/mobile/Display-x1/mobi-icecream1-x1.png" width="364" height="122" alt="галерея" class="gallery-main-img">
            </picture>

            <h3 class="products-list__heading">ice cream</h3>
            <span class="products-list__horizontal-scrolling">
                <svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </span>
            <p class="products-list__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
                repellendus voluptates excepturi
                error quos
                corrupti eius? Sapiente aliquam cumque deserunt similique veritatis qui corporis molestiae, eos
                repellendus, ipsa
                minima? Libero!</p>
            <button type="button" class="products-list__button">
                <svg class="products-list__button-icon" width="40" height="40">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </button>
        </li>
        <li class="products-list__products-item products-list__products-item--color">
            
                <img class="products-list__image" src="./images/mobile/Display-x1/mobi-icecream1-x1.png" alt="ice cream"/>
            
            <h3 class="products-list__heading">ice coffee</h3>
            <span class="products-list__horizontal-scrolling">
                <svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </span>
            <p class="products-list__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
                repellendus voluptates excepturi
                error quos
                corrupti eius? Sapiente aliquam cumque deserunt similique veritatis qui corporis molestiae, eos
                repellendus, ipsa
                minima? Libero!</p>
            <button type="button" class="products-list__button">
                <svg class="products-list__button-icon" width="40" height="40">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </button>
        </li>
        <li class="products-list__products-item products-list__products-item--color">
            <!-- <div class="products-list__image-background">
                <img class="products-list__image" src="./images/mobile/Display-x1/mobi-icecream1-x1.png"
                    alt="ice cream">
            </div> -->
            <h3 class="products-list__heading">milkshakes</h3>
            <span class="products-list__horizontal-scrolling">
                <svg class="products-list__horizontal-scrolling-point" width="6" height="6">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </span>
            <p class="products-list__text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus,
                repellendus voluptates excepturi
                error quos corrupti eius? Sapiente aliquam cumque deserunt similique veritatis qui corporis molestiae,
                eos repellendus, ipsa minima? Libero!</p>
            <button type="button" class="products-list__button">
                <svg class="products-list__button-icon" width="40" height="40">
                    <use href="./images/sprite.svg#icon-points-2"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>