<section class="reviews">
    <div class="reviews__comment container">

        <div class="reviews__slides">
            <input class="radio" type="radio" name="com" id="r1" checked>
            <input class="radio" type="radio" name="com" id="r2">
            <input class="radio" type="radio" name="com" id="r3">
            <input class="radio" type="radio" name="com" id="r4">
            <input class="radio" type="radio" name="com" id="r5">
            <input class="radio" type="radio" name="com" id="r6">
            <input class="radio" type="radio" name="com" id="r7">
            <input class="radio" type="radio" name="com" id="r8">
            <input class="radio" type="radio" name="com" id="r9">
            <input class="radio" type="radio" name="com" id="r10">
            
            <div class="reviews__slide s1">
                <img class="reviews__img" src="./images/mobile/Display-x1/SAVE_20210920_165639.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">То что вы читаете, было не без труда создано мной</article>
                </div>
                <div class="gradient">

                </div>

                <div class="slide-p">
                    <p >
                        Дмитрий, Хмельницкий
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

            <div class="reviews__slide">
                <img class="reviews__img" src="./images/testimonials.jpg" alt="photo">
                <div class="container-comment">
                    <article class="comment">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.</article>
                </div>

                <div class="slide-p">
                    <p>
                        Emily, Los Angeles
                    </p>
                </div>
            </div>

        </div>

        <div class="reviews__navigator">
            <label for="r1" class="bar bar1"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            <label for="r5" class="bar"></label>
            <label for="r6" class="bar"></label>
            <label for="r7" class="bar"></label>
            <label for="r8" class="bar"></label>
            <label for="r9" class="bar"></label>
            <label for="r10" class="bar"></label>
        </div>

    </div>


    

</section>